<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>login</title>
	</head>
	<link rel="stylesheet" type="text/css" href="css/tttare-login.css" />
	<body>
		<div class="head">
			<div class="logo"></div>
		</div>
		<div class="main">
			<div class="login-form" id="app">
				<div class="login-box">
					<div></div>
					<div class="login-tab login-tab-l">
                    	<a href="javascript:void(0)" clstag="pageclick|keycount|login_pc_201804112|9" class="checked" style="outline: rgb(109, 109, 109) none 0px;"> 登录</a>
                	</div>
                	<div class="login-tab login-tab-r">
                    	<a href="javascript:void(0)" clstag="pageclick|keycount|login_pc_201804112|10" class="" style="outline: rgb(109, 109, 109) none 0px;">注册</a>
                	</div>
                	<div class="msg-wrap" v-html="msg">
	                </div>
	                <div class="mc">
						<div class="form">
							<div class="item item-fore1">
		                        <label for="loginname" class="login-label name-label"></label>
		                        <input id="loginname" type="text"  v-model="username" class="itxt" name="loginname" tabindex="1" autocomplete="off" value="" placeholder="邮箱/用户名/已验证手机">
		                        <span class="clear-btn"></span>
								<a style="color : red" v-text="usernameMsg"></a>
		                    </div>
							<div id="entry" class="item item-fore2" style="visibility: visible;">
			                    <label class="login-label pwd-label" for="nloginpwd"></label>
			                    <input id="nloginpwd" type="password" v-model="password" name="nloginpwd" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
			                    <span class="clear-btn"></span>
								<a style="color : red" v-text="passwordMsg"></a>
			                    <span class="capslock" style="display: none;"><b></b>大小写锁定已打开</span>
		                	</div>
		                	<div>
								<button @click="handleSubmit" class="loginBtn"/>
							</div>
						</div>	                	
	                </div>
				</div>

			</div>
		</div>
		<div class="footer"></div>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/axios.min.js" ></script>
		<script type="text/javascript" src="js/crypto-js.js" ></script>
		<script>
            new Vue({
                el:'#app',
                data : {
					username: "",
					password: "",
                    msg: "",
                    usernameMsg: "",
                    passwordMsg: "",
					key:  window.location.search.substring(window.location.search.indexOf("=")+1)
                },
				methods:{
                    handleSubmit() {
						if(this.username.trim().length==0){
                           this.usernameMsg = "用户名不能为空";
                           return;
						}
                        if(this.username.trim().length>=32){
                            this.usernameMsg = "用户名过长";
                            return;
                        }
                        if(this.password.trim().length==0){
                            this.passwordMsg = "密码不能为空";
                            return;
                        }
                        if(this.password.trim().length>=32){
                            this.passwordMsg = "密码过长";
                            this.password = '';
                            return;
                        }
						//ajax请求
                        this.post("/user/login",{
                            username : this.username.trim(),
                            password : this.password.trim()
						});

					},
					post  : function(url,obj){
                        axios({
                            method: 'post',
                            url: '/user/login',
                            data: {
                                username: this.username,
                                password: this.encryptPassword(this.key,this.password),
								key: this.key
                            }
                        }).then((res)=>{
                            //var last=obj.toJSONString();
							// 将JSON对象转化为JSON字符
							//var obj = str.parseJSON();
							// 由JSON字符串转换为JSON对象
                            res = res.parseJSON();
							if(res.code == '000001'){
                                this.msg = '登录失败';
                                this.msg = '<div class="msg-error"><b>'+this.msg+'</b></div>';
							}
                        });
					},
					//密码加密
					encryptPassword :function ($key,$password) {
                        var key = CryptoJS.enc.Utf8.parse($key);
                        console.log("key:" + key + ",$key:" + $key);
                        var password = CryptoJS.enc.Utf8.parse($password);
                        var encrypted = CryptoJS.AES.encrypt(password, key, {mode: CryptoJS.mode.ECB, padding: CryptoJS.pad.Pkcs7});
                        var encryptedPwd = encrypted.toString();
                        return encryptedPwd;
                    }
				}
            })

		</script>
	</body>
</html>
