<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>表单与v-model</title>
	</head>
	<body>
		<h1>v-model与表单的结合最为紧密,model即数据模型不可见,表单就是在输入这些数据的</h1>
		<h3>选中一个后,不能同时选其他单选框的互斥效果</h3>
		<div id="app">
			<input type="radio" v-model="picked" value="man"/>男&nbsp;&nbsp;&nbsp;
			<input type="radio" v-model="picked" value="woman"/>女&nbsp;&nbsp;&nbsp;
			<input type="radio" v-model="picked" value="middle">中性<br />
			<div>当前选中:{{picked}}</div>
			<h3>checkbox的选中结果绑定,数组结果</h3>
			<input type="checkbox" value="computer" v-model="checked"/>电脑&nbsp;&nbsp;&nbsp;
			<input type="checkbox" value="phone" v-model="checked"/>手机&nbsp;&nbsp;&nbsp;
			<input type="checkbox" value="watch" v-model="checked"/>手表
			<div>当前选中:{{checked}}</div>
			<h3>select的单选</h3>
			<select v-model="selected">
				<option value="fudu">浮桥</option>
				<option value="yangdu">羊肚</option>
				<option value="yidu">一度</option>
			</select>
			<h3>select的多选</h3>
			<select v-model="selected2" multiple>
				<option value="fudu">浮桥</option>
				<option value="yangdu">羊肚</option>
				<option value="yidu">一度</option>
			</select>
			当前选中:{{selected2}}
		</div>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/jquery-1.8.3.js" ></script>
		
		<script>
			var vue=new Vue({
				el:'#app',
				data:{
					picked:'middle',
					checked:['computer'],
					selected:'yidu',
					selected2:['yangdu','yidu']
				}
			})
			
		</script>
	</body>
</html>
