body{

}
.head{
    padding: 22px 0;
    *height: 30px;
    height: 10%;
}
.main{
    background-image: url(../img/img001.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    position: absolute;
    *height: 600px;
    height: 80%;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.footer{
    margin: 60px auto 0;
    padding: 7px 0 9px;
    height: 10%;
    width: 1200px;
}
.login-form{
    margin: 120px 1100px;
    position: relative;
    z-index: 4;
    background: #fff;
    overflow: visible;
    width: 346px;
    border-radius: 5px;

}
.form .item .login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(https://misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/pwd-icons-new.png) no-repeat;
}

.form .itxt {
    line-height: 18px;
    height: 18px;
    border: 0;
    padding: 10px 0 10px 50px;
    width: 254px;
    float: none;
    overflow: hidden;
    font-size: 14px;
    font-family: '\5b8b\4f53';
}

label {
    cursor: default;
}
.form .item {
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}
.form .item-fore1, .form .item-fore2 {
    border: 1px solid #bdbdbd;
    height: 38px;
    width: 304px;
}

.form .item .pwd-label {
    background-position: -48px 0;
}

.login-form .msg-wrap {
    min-height: 23px;
    margin-top: 55px;
    margin-bottom: 5px;
    height: auto!important;
}
.login-form .login-box {
    display: block;
    visibility: visible;
    width: 306px;
    padding: 20px;
    *visibility: hidden;
}
.login-form .msg-error {
    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto;
}
.hide {
    display: none;
}
.login-form .login-tab {
    height: 54px;
    font-size: 18px;
    font-family: "microsoft yahei";
    text-align: center;
    border-bottom: 1px solid #f4f4f4;
    position: absolute;
    background: #fff;
    display: block;
}
.login-form .login-tab-l, .login-form .login-tab-r {
    width: 173px;
    margin-top: 30px;
}
.login-form .login-tab-r {
    right: 0;
}
.login-form .login-tab a.checked, .login-form .login-tab a:hover {
    font-weight: 700;
    color: #ff9903;
}
.login-form .login-tab a {
    color:black;
    width: 99%;
    height: 18px;
    *position: absolute;
    left: 0;
    top: 18px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
.login-form .login-box .mc {
    overflow: visible;
    zoom: 1;
}

.loginBtn{
    background: black;
    background-image: url(../img/logoBtn.png);
    background-position: center center;
    background-size: cover;
    border: 1px solid #333;
    margin: 40px 88px;
    border-radius: 10px;
    width: 120px;
    height: 55px;
    cursor: pointer;
}

.logo{
    background-image: url(../img/logo.png);
    background-position: center center;
    background-size: cover;
    width: 160px;
    height: 60px;
}